" Basic settings
set hlsearch
set scrolloff=5
set ignorecase smartcase
set showmode
set history=1000
set incsearch
set clipboard+=unnamed
set relativenumber
set visualbell
set showcmd
set virtualedit=onemore

" Set space as leader
let mapleader = " "

" File & Explorer
nmap <leader>ff <Action>(GotoFile)<CR>
nmap <leader>fa <Action>(FindInPath)<CR>

" Find & Replace
nmap <leader>ra <Action>(RenameElement)<CR>
nmap <leader>fr <Action>(Replace)<CR>
nmap <leader>fR <Action>(ReplaceInPath)<CR>
nmap <leader>/ <Action>(Find)<CR>
nmap <leader>fu <Action>(ShowUsages)<CR>

" Search for current visual selection
vnoremap // y/<C-R>"<CR>

" Code / Outline / Symbols
nmap <leader>fm <Action>(ReformatCode)<CR>
nmap <leader>o <Action>(FileStructurePopup)<CR>

" Project / Run / Terminal
nmap <leader>pe <Action>(Run)<CR>
nmap <leader>t <Action>(ActivateTerminalToolWindow)<CR>

" Navigation
nmap <leader>qq <Action>(CloseContent)<CR>
nmap <leader>x <Action>(HideAllWindows)<CR>

" Terminal
nmap <leader>tt <Action>(ActivateTerminalToolWindow)<CR>

" Buffer navigation
nmap <leader>bn <Action>(NextTab)<CR>
nmap <leader>bp <Action>(PreviousTab)<CR>

" Clear search highlight
nnoremap <leader><CR> :nohlsearch<CR>

" Center screen when jumping to next match
nnoremap n nzz
nnoremap N Nzz

" Easy window navigation
map <Tab> <Action>(NextTab)<CR>
map <S-Tab> <Action>(PreviousTab)<CR>
